.m-scroll-list {
  padding: 0;
  background-color: white;
  @include shadow-2dp();
  max-height: 500px;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.m-scroll-list__title-wrapper {
  background-color: white;
  padding: 12px 12px;
  @include shadow-2dp();
}

.m-scroll-list__title {
  @extend %typo-headline;
  color: $color-text-dark;
  margin: 0;
}
